.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin-top: 10px;
  }
  
  .form-container {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
  }

.form-container h2 {
    margin-bottom: 30px;
    text-align: center;
    color: #333333;
    margin-top: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555555;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="date"],
.form-container input[type="tel"],
.form-container select {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

.form-container input[type="submit"] {
    width: 100%;
    background-color: #4caf50;
    color: #ffffff;
    padding: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.form-container input[type="submit"]:hover {
    background-color: #45a049;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.button-container input[type="submit"] {
    width: 48%; /* Adjust width as needed */
    background-color: #4caf50;
    color: #fff;
    padding: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button-container input[type="submit"]:hover {
    background-color: #45a049;
}

.button-container input[type="reset"] {
    width: 48%;
    background-color: #ff6347;
    color: #fff;
    padding: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.button-container input[type="reset"]:hover {
    background-color: #ff4837;
}

.error-text {
    color: #ff6347; /* Red color */
    font-size: 14px;
    margin-top: 5px;
}